.primary-image {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-image:has(svg) {
  width: 32px;
  height: 32px;
}

.primary-image img {
  mix-blend-mode: multiply;
}

.primary-image svg {
  width: 24px;
  height: 24px;
}

.layout-text {
  font-size: 0.875rem; /* 14px */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.layout-secondary-text {
  font-size: 0.75rem; /* 12px */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.layout-flex-col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
